<%= form_for(@admin_yaku) do |f| %>
  <% if @admin_yaku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_yaku.errors.count, "error") %> prohibited this admin_yaku from being saved:</h2>

      <ul>
      <% @admin_yaku.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :han_num %><br />
    <%= f.text_field :han_num %>
  </div>
  <div class="field">
    <%= f.label :naki_han_num %><br />
    <%= f.text_field :naki_han_num %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
